[submodule "graphics/reference/jsxgraph-official"]
	path = graphics/reference/jsxgraph-official
	url = https://github.com/jsxgraph/jsxgraph.git
[submodule "graphics/reference/threejs-official"]
	path = graphics/reference/threejs-official
	url = https://github.com/mrdoob/three.js.git
